.titre {
    color: aqua;
    text-align: center;
    
}

body {
    background-color: black;
}

.secondTitre {
    color: aqua;
}

img {
    height: 200px;
}

#couleur {
    color: green;
}

#liste {
    color: green;
}